<section class="medication-section">
  <form {{#if id}}class="update-medication">{{else}}class="add-medication"{{/if}}
    <div class="form-group">
      <span id=""></span>
      <label for="med_name">Medication Name:</label>
      <input class="form-input" type="text" data-med-id="{{id}}" id="med_name" value="{{med_name}}" name="med_name" />
    </div>
    <div class="form-group">
      <label for="med_price">Medication Price:</label>
      <input class="form-input" type="text" id="med_price" value="{{med_price}}" name="med_price" />
    </div>
    <div class="form-group">
      <label for="med_type">Medication Type:</label>
      <input class="form-input" type="text" id="med_type" value="{{med_type}}" name="med_type" />
    </div>
    <div class="form-group">
      <label for="med_date_acquired">Date Acquired:</label>
      <input class="form-input" type="text" id="med_date_acquired" value="{{format_time med_date_acquired}}"
        name="med_date_acquired" />
    </div>
    <div class="form-group">
      <label for="med_script_renewed">Script Renewed:</label>
      <input class="form-input" type="text" id="med_script_renewed" value="{{format_time med_script_renewed}}"
        name="med_script_renewed" />
    </div>
    <div class="form-group">
      <label for="med_expiry_date">Expiry Date:</label>
      <input class="form-input" type="text" id="med_exp_date" value="{{format_time med_exp_date}}"
        name="med_expiry_date" />
    </div>
    <button id="update-medication">Update Medication</button>
  </form>

  <form class="update-Addition">
    {{#each additions}}
    {{> additions}}
    {{/each}}
  </form>

</section>

<script src="/js/medAddCrud.js"></script>